.App {
  text-align: center;
}

.navbar
{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  height: 6vh;

  background-color: rgb(13, 110, 253);
}

.navbar li
{
  color: white;
  display: inline-block;
  margin: 0 10px;
}

.navbar a
{
  color: white;
  text-decoration: none;
}

.main
{
  /* Gradient */
  background-image: linear-gradient(to bottom, rgb(35, 39, 43), rgb(27, 30, 33));

  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form
{
  border-style: solid;
  border-width: 3px;
  border-color: rgb(164, 164, 164);

  border-radius: 3px;
  padding: 3px;
  background-color: whitesmoke;
}

input
{
  margin: 2px 0;
  height: 30px;
  width: 300px;
  font-size: medium;
  padding-left: 6px;
}

button
{
  margin: 2px 0;
  height: 30px;
  width: 310px;
  font-size: medium;

  border-style: none;
  border-radius: 2px;
  background-color: rgb(13, 110, 253);
  color: white;
}

h3
{
  margin: 8px;
}
